.header {
  height: 100px;
  background-color: #f72210;
  color: #fff;
}

.logo-head {
  color: #fff;
  fill: white;
}

.header-font {
  font: bold 13px/24px "Roboto Condensed", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}

.subscribe-btn {
  background-color: #ffe400;
}

