.header-wrapper {
  height: 100px;
  padding: 15px 10px;
  color: white;
  background-color: #f72210;
}

.logo-head {
  color: #fff;
  fill: white;
  width: 400px;
}

.header-font {
  font: bold 13px/24px "Roboto Condensed", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}

.rounded-pill {
  background-color: #ffe400;
  height: 30px;
}

@media screen and (max-width: 992px) {
  .header-wrapper {
    height: 50px;
    color: white;
    background-color: #f72210;
    max-width: 1310px;
  }

  .logo-head {
    color: #fff;
    fill: white;
    width: 150px;
  }
}

/* FOOTER CSS */

@media screen and (max-width: 768px) {
  .footer-links > li {
    border-right: none !important;
    padding-top: 0.75rem !important;
    /* padding-right: 1rem !important; */
  }

  .footer-copyright {
    padding-top: 1rem !important;
  }

  .footer-social {
    font-size: 20px;
    padding-top: 0.75rem !important;
  }
}

.footer-links {
  padding-right: 1rem !important;
}

.footer-links {
  font-size: 0.85rem;
  line-height: 14px;
}

.footer-section {
  border-top: 1px solid #666;
}

.logo-footer {
  color: #fff;
  fill: #f72210;
  width: 236px;
}

.footer-copyright {
  font-size: 0.8rem;
  line-height: 12px;
  text-transform: uppercase;
  color: #666;
  float: right;
}

.footer-social {
  font-size: 26px;
}

.footer-wrap a {
  font-size: 13px;
}
